[submodule "lisp/fingertip"]
	path = lisp/fingertip
	url = https://github.com/manateelazycat/fingertip.git
[submodule "lisp/emacs-rime"]
	path = lisp/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "lisp/dash"]
	path = lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "rime"]
	path = rime
	url = git@github.com:wwulfric/rime-ice.git
[submodule "lisp/emacs-chinese-word-segmentation"]
	path = lisp/emacs-chinese-word-segmentation
	url = git@github.com:wwulfric/emacs-chinese-word-segmentation.git
[submodule "lisp/lsp-bridge"]
	path = lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "lisp/posframe"]
	path = lisp/posframe
	url = https://github.com/tumashu/posframe
[submodule "lisp/markdown-mode"]
	path = lisp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "lisp/markmacro"]
	path = lisp/markmacro
	url = https://github.com/manateelazycat/markmacro
[submodule "lisp/smex"]
	path = lisp/smex
	url = https://github.com/nonsequitur/smex
[submodule "lisp/s.el"]
	path = lisp/s.el
	url = https://github.com/magnars/s.el
[submodule "lisp/move-text"]
	path = lisp/move-text
	url = https://github.com/manateelazycat/move-text
[submodule "lisp/auto-save"]
	path = lisp/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "lisp/flx"]
	path = lisp/flx
	url = https://github.com/lewang/flx
[submodule "lisp/haskell-mode"]
	path = lisp/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "lisp/exec-path-from-shell"]
	path = lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "lisp/markdown-ts-mode"]
	path = lisp/markdown-ts-mode
	url = https://github.com/LionyxML/markdown-ts-mode
